body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .active {
    font-weight: 600;
  }

  .inactive {
    font-weight: normal;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 15px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 35px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .winningSquares {
    color: #000;
    background: rgb(142, 252, 99);
  }

  .draw {
    text-align: center;
    width: 102px;
    height: 102px;
    background-color: #ddd;
    padding: 20px;
  }

  .win {
    text-align: center;
  }

  .reset {
    padding: 5px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  